#gallery {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list__item {
  list-style: none;
}

.list__item + .list__item {
  margin-left: 20px;
}

#counter {
  margin-bottom: 40px;
}


#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}